* {
    box-sizing: border-box;
}
html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: monospace;
    background-color: rgb(18, 18, 18);
}
header {
    overflow: hidden;
}
.homepage {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 100px;
}
.title {
    /* sizes */
    height: 90%;
    width: 54%;
    padding: 0;
    margin: 3% 1%;
    border: 0px solid rgb(225, 225, 225);
    /* text */
    color: rgb(225, 225, 225);
    font-size: 220px;
    font-weight: bold;
    /* layout */
    float: left;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_side {
    /* sizes */
    height: 90%;
    width: 38%;
    padding: 0;
    margin: 3% 1%;
    border: 0 solid rgb(225, 225, 225);
    /* layout */
    float: left;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote {
    /* sizes */
    height: 64%;
    width: 100%;
    padding: 0;
    margin: 0 0 7% 0;
    border: 3px solid rgb(208, 208, 208);
    /* text */
    color: rgb(225, 225, 225);
    font-size: 40px;
    /* layout */
    float: left;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    /* sizes */
    height: 20%;
    width: 100%;
    padding: 0;
    margin: 3% 0;
    border: 0px solid rgb(0, 0, 0);
    /* text */
    background-color: rgb(243, 60, 60);
    color: rgb(225, 225, 225);
    font-size: 85px;
    text-decoration: none;
    /* layout */
    float: left;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}