* {
    box-sizing: border-box;
}
html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: monospace;
    background-color: rgb(13, 13, 13);
}
.menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    /* sizes */
    height: 30%;
    width: 95%;
    padding: 0;
    margin: 3% 2%;
    border: 3px solid rgb(213, 213, 213);
    /* text */
    font-size: 800%;
    color: rgb(234, 234, 234);
    /* layout */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options_menu {
    /* sizes */
    height: 50%;
    width: 96%;
    padding: 0;
    margin: 0;
    border: 0px solid white;
    /* layout */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option {
    /* sizes */
    height: 85%;
    width: 50%;
    padding: 0;
    margin: 0 2%;
    border: 5px solid rgb(255, 60, 60);
    /* text */
    color: rgb(231, 231, 231);
    font-size: 80px;
    /* layout */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}