* {
    box-sizing: border-box;
}
html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: monospace;
    background-color: rgb(18, 18, 18);
}
.main {
    height: 100%;
    width: 100%;
    
    border: white solid 0px;

    display: flex;
    align-items: center;
    flex-direction: column;

    color: white;
}
.title {
    height: 20%;
    width: 90%;

    padding: 0;
    margin: 1%;
    border: white solid 3px;
    border-radius: 25px;

    font-size: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.problem_list {
    width: 60%;

    padding: 0;
    margin: 1%;
    border: white solid 2px;
    border-radius: 10px;
    
    font-size: 40px;
}
.problem {
    text-align: center;
}
.link {
    padding: 0 8%;
    margin: 0;
    border: white solid 1px;
    border-radius: 5px;

    font-size: 30px;
    color: white;
    background-color: rgb(245, 58, 58);
    text-decoration: none;
}
.solution {
    height: 12%;
    width: 30%;

    padding: 0;
    margin: 5px;
    border: white solid 1px;
    border-radius: 10px;

    background-color: rgb(245, 58, 58);
    color: white;
    text-decoration: none;
    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}