* {
    box-sizing: border-box;
}
html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: monospace;
    background-color: rgb(18, 18, 18);
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    height: 20%;
    width: 90%;

    padding: 0;
    margin: 2%;
    border: white solid 3px;
    border-radius: 10px;

    font-size: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    width: 95%;

    padding: 0;
    margin: 1%;
    border: white solid 0;

    font-size: 30px;
}